{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td, th {font: 16px/1.5 monospace; padding-left:20px; padding-right: 20px}
    th {text-align: left}
    .value {width:150px; }
    .odd {background-color: #ccc;}
</style>

<div class="wrapper">
    <h1>Proof of concept - OW stats</h1>

    <div>
        <form method="post" action="">
            <select name="hero">
                {% for hero in heroes %}
                    <option {% if hero.id == selectedHero %}selected{% endif %} value="{{ hero.id }}">{{ hero.title }}</option>
                {% endfor %}
            </select>
            <select name="statType">
                {% for statType in statTypes %}
                    <option {% if statType.id == selectedStatType %}selected{% endif %} value="{{ statType.id }}">{{ statType.title }}</option>
                {% endfor %}
            </select>
            <select name="fieldType">
                {% for fieldType in fieldTypes %}
                    <option {% if fieldType.id == selectedFieldType %}selected{% endif %} value="{{ fieldType.id }}">{{ fieldType.title }}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        {% if content %}
            <p>Total number of entries: {{ totalEntries }}</p>
            <table>
                <tbody>
                {% for range, data in content %}
                    <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                        <td class="sr">{{ range }}</td>
                        <td class="value">{{ data.avg_value }}</td>
                        <td class="time">{{ data.entries }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>SR Range</th>
                        <th class="value">Stat Value</th>
                        <th>Entries in database</th>
                    </tr>
                </thead>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
